{{define "content"}}
<main id="hero" class="bg-no-repeat bg-cover bg-fixed]">
    <div class="w-11/12 md:w-3/5 mx-auto flex h-full ">
        <div class="content w-full bg-black bg-opacity-80 text-white px-5 py-10">
            <h2 class="mb-5 font-bold text-2xl pb-5 border-b border-b-logo-color">
                Contact Us
            </h2>

            <div class="my-10 flex gap-5 justify-center flex-wrap">
                <div class="flex gap-2 items-center">
                    <i class="fa-solid fa-location-dot border-2 border-solid border-logo-color text-2xl p-2 rounded-full"></i>
                    <div>
                        <p>272 Linden Avenue</p>
                        <p>Winter Park, FL 32789</p>
                    </div>
                </div>
    
                <div class="flex gap-2 items-center">
                    <i class="fa-regular fa-address-book border-2 border-solid border-logo-color text-2xl p-2 rounded-full"></i>
                    <div>
                        <p>Phone: +149 75 23 222 35</p>
                        <p>Email: renovate@mail.com</p>
                    </div>
                </div>
    
                <div class="flex gap-2 items-center">
                    <i class="fa-regular fa-clock border-2 border-solid border-logo-color text-2xl p-2 rounded-full"></i>
                    <div>
                        <p>Monday - Friday: 08.00 - 17.00</p>
                        <p>Saturday: 09.00 - 12.00</p>
                    </div>
                </div>
            </div>


            <!-- <div class="card my-5 px-2 py-5 md:items-center md:flex-[0_0_calc(50%-0.5rem)] md:gap-5 md:flex border border-gray-400"> -->
                <div style="max-width:100%;list-style:none; transition: none;overflow:hidden;width:100%;height:500px;">
                    <div id="gmap-canvas" style="height:100%; width:100%;max-width:100%;">
                        <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/search?q=computer+village,+ikeja+lagos&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8">

                        </iframe>
                    </div>
                    <a class="my-codefor-googlemap" rel="nofollow" href="https://www.bootstrapskins.com/themes" id="make-map-data">premium bootstrap themes</a>
                    <style>#gmap-canvas img{max-height:none;max-width:none!important;background:none!important;}</style>
                </div>
            <!-- </div> -->
                        
        </div>
        
    </div>    
</main> 
{{end}}