{{define "headerFragment"}}
<header id="header" class="shadow-md">
    
    <div class="top bg-whitesmoke text-darkwhitesmoke py-2">
        <div class="top-wrapper w-11/12 md:w-3/5 m-auto md:flex justify-between">
            <div class="contact-date flex flex-wrap items-center justify-center gap-1 ">
                <div class="border-l-darkwhitesmoke border-l-2 px-1"><i class="fa-solid fa-phone"></i><span>+149 75 23 222 35</span></div>
                <div class="border-l-darkwhitesmoke border-l-2 px-1"><i class="fa-solid fa-envelope"></i><span>renovate@mail.com</span></div>
                <div class="border-l-darkwhitesmoke border-l-2 px-1"><i class="fa-solid fa-clock"></i><span>Mon - Fri: 08.00 - 17.00</span></div>
            </div>
            <div class="socials text-center">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-square-x-twitter mx-4"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>
        </div>
    </div>
    
    <nav class="py-2 flex items-center justify-between sm:w-11/12 md:w-3/5 m-auto">
        <div class="logo">
            <h1 class="text-logo-color font-bold text-3xl">CTSDA</h1>
        </div>

        <ul class="hidden text-xl sm:flex gap-4">
            <li><a href="/index">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
        </ul>        
        <div id="hbar" class="text-3xl sm:hidden" onclick="handleMenu()"><i class="fa-solid fa-bars"></i></div>        
    </nav>
    <ul id="m-menu" class="hidden absolute z-10 bg-slate-400 w-full h-4/5 opacity-95 text-center text-3xl text-white py-10">
        <div id="xbar" class="hidden" onclick="handleMenu()"><i class="fa-solid fa-xmark"></i></div>
        <li><a href="/index">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
    </ul>
</header>

{{end}}