{{define "content"}}
<!-- <main id="hero" class="bg-no-repeat bg-cover bg-fixed h-[calc(100vh-var(--header-height))]"> -->
<main id="hero" class="bg-no-repeat bg-cover bg-fixed">

    <div class="w-11/12 md:w-3/5 mx-auto md:flex gap-5 justify-between">
        <div class="content my-5 md:w-1/2 bg-black bg-opacity-80 text-white px-5 py-10">
            <h2 class="font-bold text-2xl pb-5 border-b border-b-logo-color">
                Council For Traning, Skills and Development, America (CTSDA)
            </h2>
            <p class="py-5">The Council for Training, Skills, and Development, America (CTSDA) is a leading American accreditation body, renowned for providing comprehensive accreditation services to institutions, trainers, and educational and training service providers.</p>

            <p class="py-5">By gaining CTSDA accreditation, you can strengthen your professional skills, enhance your reputation, and bolster your professional practices.</p>
            <button class="font-bold text-xl active:translate-y-2 transition-transform border p-2 rounded-lg w-full" type="button">START ACCREDITATION <i class="fa-solid fa-right-long text-base text-logo-color ml-5"></i></button>
        </div>  
        
        <div class="content text-right my-5 self-center md:w-1/2 bg-black bg-opacity-80 text-white px-5 py-10">
            <h2 class="font-bold text-2xl pb-5 border-b border-b-logo-color">
                Quick Links
            </h2>
            <div><button class="my-2 hover:bg-[#fcc205] active:translate-y-1 transition-transform border p-2 rounded-lg" type="button"><a href="/verify-cert">Verify ACTD Certificate</a></button></div>
            <div><button class="my-2 hover:bg-[#fcc205] active:translate-y-1 transition-transform border p-2 rounded-lg" type="button"><a href="/network">ACTD Accredited Network 2024</a></button></div>
            <div><button class="my-2 hover:bg-[#fcc205] active:translate-y-1 transition-transform border p-2 rounded-lg" type="button">Search within ACTD network</button></div>
            <div><button class="my-2 hover:bg-[#fcc205] active:translate-y-1 transition-transform border p-2 rounded-lg" type="button">Get A Quote</button></div>
            <div><button class="my-5 hover:bg-[#fcc205] active:translate-y-1 transition-transform border p-2 rounded-lg" type="button">World Education News</button></div>
        </div> 
    </div>    
</main>
<section>
    <div class="wrapper text-xs my-10 w-11/12 mx-auto md:w-3/5">
        <div class="top my-10 sm:grid sm:grid-rows-1 sm:grid-flow-col gap-5">
            <!-- <div class="right sm:flex gap-5"> -->
                <div class="flex-2">
                    <h2 class="text-xl font-medium mb-5">We are London based law firm focused on excellence.</h2>
                    <p class="mb-2">Headed by one of the most distinguished and experienced lawyers in the country, George Hilton, our firm have a sound base in the law fraternity, and we aim to put our resources to effective use for the success of our clients. Backed by hundreds of successful cases in different fields of law, and having being the preferred law firm for many Fortune 500 companies, you can rest assured that your case is in safe hands with us.</p>
                    <a class="text-logo-color" href="/about">READ MORE <i class="fa-solid fa-right-long ml-5"></i></a>
                </div>
                <div class="flex-1">
                    <img class="w-full" src="/public/img/cap.jpeg" alt="">
                    <h4 class="font-medium my-2">Family Law</h4>
                    <p class="mb-2">Family law deals with the branch of law pertaining to all matters that are related to family unit or other relations such as partnership, marriage, divorce and any other family matters. …</p>
                </div>
                <div class="flex-1">
                    <img class="w-full" src="/public/img/boy_eng.jpeg" alt="">
                    <h4 class="font-medium my-2">Corporate Law</h4>
                    <p class="mb-2">Today, many people are looking to start their own business. For this, they need to register their business or they might be accused of doing business illegally in the country is just part of the law. …</p>
                </div>
                <div class="flex-1">
                    <img class="w-full" src="/public/img/engineers.jpeg" alt="">
                    <h4 class="font-medium my-2">About Us</h4>
                    <p class="mb-2">Our Vision Founded in 1979, our firm has been providing effective, affordable and often untraditional legal solution to our hundreds and thousands of clients over the years. …</p>
                </div>
            <!-- </div> -->
        </div>
        <div class="down sm:grid sm:grid-cols-3 sm:gap-2">
            <div class="flex gap-5 items-center border p-5">
                <div><i class="fa-solid fa-certificate"></i></div>
                <div>
                    <h5 class="mb-2 font-medium">Comercial Law</h5>
                    <p>Our banking lawyers are highly experience and the amongth neither.</p>
                </div>
            </div>

            <div class="flex gap-5 items-center border p-5">
                <div><i class="fa-solid fa-certificate"></i></div>
                <div>
                    <h5 class="mb-2 font-medium">Comercial Law</h5>
                    <p>Our banking lawyers are highly experience and the amongth neither.</p>
                </div>
            </div>

            <div class="flex gap-5 items-center border p-5">
                <div><i class="fa-solid fa-certificate"></i></div>
                <div>
                    <h5 class="mb-2 font-medium">Comercial Law</h5>
                    <p>Our banking lawyers are highly experience and the amongth neither.</p>
                </div>
            </div>
            
            <div class="flex gap-5 items-center border p-5">
                <div><i class="fa-solid fa-certificate"></i></div>
                <div>
                    <h5 class="mb-2 font-medium">Comercial Law</h5>
                    <p>Our banking lawyers are highly experience and the amongth neither.</p>
                </div>
            </div>

            <div class="flex gap-5 items-center border p-5">
                <div><i class="fa-solid fa-certificate"></i></div>
                <div>
                    <h5 class="mb-2 font-medium">Comercial Law</h5>
                    <p>Our banking lawyers are highly experience and the amongth neither.</p>
                </div>
            </div>

            <div class="flex gap-5 items-center border p-5">
                <div><i class="fa-solid fa-certificate"></i></div>
                <div>
                    <h5 class="mb-2 font-medium">Comercial Law</h5>
                    <p>Our banking lawyers are highly experience and the amongth neither.</p>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- <section class="max-sm:text-center bg-[#45424d] py-2 text-whitesmoke"> -->
    <section class="max-sm:text-center bg-black bg-opacity-80 py-2 text-whitesmoke">

    <div class="wrapper sm:flex sm:justify-between items-center my-10 w-11/12 mx-auto md:w-3/5">
        <div class="left">
            <h2 class="font-bold">Want to be part of our network?</h2>
            <p class="text-xs">Start the process here!</p>
        </div>     
   
        <div class="right">
            <button class="max-sm:mt-5 bg-logo-color hover:bg-[#fcc205] active:translate-y-1 transition-transform border mr-2 px-5 py-2">APPLY NOW</button>
            <button class="hover:border-orange-50 border-gray-500 active:translate-y-1 transition-transform border px-5 py-2">READ MORE</button>
        </div>
    </div>
</section>
<section class="mt-5">
    <h1 class="text-center text-xl font-medium">CTSDA Accredited Global Network -- 2025</h1>
    <div class="wrapper logos whitespace-nowrap mx-auto py-10 w-11/12 md:w-3/5">
        <div class="logo-slide">
            <img src="/public/img/logos/3m.svg" alt="">
            <img src="/public/img/logos/barstool-store.svg" alt="">
            <img src="/public/img/logos/budweiser.svg" alt="">
            <img src="/public/img/logos/buzzfeed.svg" alt="">
            <img src="/public/img/logos/forbes.svg" alt="">
            <img src="/public/img/logos/macys.svg" alt="">
            <img src="/public/img/logos/menshealth.svg" alt="">
            <img src="/public/img/logos/mrbeast.svg" alt="">
        </div>
        <div class="logo-slide">
            <img src="/public/img/logos/3m.svg" alt="">
            <img src="/public/img/logos/barstool-store.svg" alt="">
            <img src="/public/img/logos/budweiser.svg" alt="">
            <img src="/public/img/logos/buzzfeed.svg" alt="">
            <img src="/public/img/logos/forbes.svg" alt="">
            <img src="/public/img/logos/macys.svg" alt="">
            <img src="/public/img/logos/menshealth.svg" alt="">
            <img src="/public/img/logos/mrbeast.svg" alt="">
        </div>
    </div>

</section>
{{end}}