{{define "content"}}
<main id="hero" class="bg-no-repeat bg-cover bg-fixed]">
    <div class="w-11/12 md:w-3/5 mx-auto flex h-full ">
        <div class="content w-full bg-black bg-opacity-80 text-white px-5 py-10">
            <h2 class="font-bold text-2xl pb-5 border-b border-b-logo-color">
                {{.Name}}
            </h2>

            <div class="my-5 text-right text-lg font-medium">Accreditation status: {{if .Validity}}<span class="text-green-400 font-bold">Valid</span>{{else}}<span class="text-red-400 font-bold">Invalid</span>{{end}}</div>

            <div class="card px-2 py-5 md:items-center md:flex-[0_0_calc(50%-0.5rem)] md:gap-5 md:flex border border-gray-400">
                <div class="img mb-5 md:w-3/12">
                    <img class="max-md:max-w-[400px] md:w-full m-auto" src="/public/img/{{.ImageUrl}}" alt="{{.Name}} logo">
                </div>
                <div class="details md:w-9/12">
                    its a US-accredited institution dedicated to delivering flexible and accessible ultrasound education and training to students worldwide, is headquartered in Iowa City, Iowa.

Leveraging advanced technology and a team of expert instructors, AAUSTECH empowers learners to “Learn Anytime, Anywhere” while striving to be a global leader in sonography education. Its mission is to equip medical professionals and students with superior ultrasound skills and knowledge through innovative training methods, personalized learning experiences, and cutting-edge technologies, ultimately enhancing healthcare outcomes.

AAUSTECH’s goals include enhancing global accessibility through online platforms, integrating advanced technology into training, developing competent professionals to meet international sonography standards, expanding its reach through global partnerships, and fostering lifelong learning to keep healthcare professionals at the forefront of their field.
                    <p class="text-sm">{{.Body}}</p>
                </div>
            </div>
        </div>
        
    </div>    
</main> 
{{end}}