
<div id="ssr_r_f_1" class="sep"><span class="std_title">Verification code :</span><input type="text" id="rid2" class="std_input" readonly></div>
<div id="ssr_r_f_2" class="sep"><span class="std_title">Accreditation Number : </span><input type="text" id="rn2" class="std_input" readonly></div>
<div id="ssr_r_f_3" class="sep"><span class="std_title">Establishment Name :</span><input type="text" id="stn2" class="std_input" readonly></div>
<div id="ssr_r_f_4" class="sep"><span class="std_title">Country of registration :</span><input type="text" id="stfn2" class="std_input" readonly></div>
<div id="ssr_r_f_5" class="sep"><span class="std_title">Validity of accreditation :</span><input type="text" id="stpy2" class="std_input" readonly></div>
<div id="ssr_r_f_6" class="sep"><span class="std_title">Name :</span><input type="text" id="stcgpa2" class="std_input" readonly></div>
<div id="ssr_r_f_7" class="sep"><span class="std_title">Nationality :</span><input type="text" id="stsub2" class="std_input" readonly></div>
<div id="ssr_r_f_8" class="sep"><span class="std_title">Field of specialization :</span><input type="text" id="stsub3" class="std_input" readonly></div>
<div id="ssr_r_f_9" class="sep"><span class="std_title">Website :</span><input type="text" id="stsub4" class="std_input" readonly></div>
<div id="ssr_r_f_10" class="sep"><span class="std_title">Website :</span><input type="text" id="stsub5" class="std_input" readonly></div>
<div id="ssr_r_f_11" class="sep"><span class="std_title">Program Name :</span><input type="text" id="stsub6" class="std_input" readonly></div>
<div id="ssr_r_f_12" class="sep"><span class="std_title">Name :</span><input type="text" id="stsub7" class="std_input" readonly></div>
<div id="ssr_r_f_13" class="sep"><span class="std_title">Status :</span><input type="text" id="stsub8" class="std_input" readonly></div>