{{define "dashFragment"}}
<h1 class="text-xl font-medium">Welcome, Lloyd!</h1>              
<div class="analytics my-10 flex justify-around items-center flex-wrap sticky top-0 bg-white">
    <div class="flex p-5 items-center gap-5">
        <div>
            <h2 class="text-gray-600">Total Institutions</h2>
            <p class="font-bold sm:text-2xl text-blue-500">2345</p>
        </div>
        <i class="fa-solid fa-building-columns content-center text-center w-10 h-10 rounded-full text-white bg-blue-500"></i>
    </div>

    <div class="flex max-sm:w-1/2 p-5 items-center gap-5">
        <div>
            <h2 class="text-gray-600">Valid Institutions</h2>
            <p class="font-bold sm:text-2xl text-green-500">2005</p>
        </div>
        <i class="fa-solid fa-building-circle-check content-center text-center w-10 h-10 rounded-full bg-green-500 text-white"></i>
    </div>

    <div class="flex max-sm:w-1/2 p-5 items-center gap-5">
        <div>
            <h2 class="text-gray-600">Invalid Institutions</h2>
            <p class="font-bold sm:text-2xl text-red-700">340</p>
        </div>
        <i class="fa-solid fa-building-columns content-center text-center w-10 h-10 rounded-full text-white bg-red-700"></i>
    </div>
    
</div> 
<h1 class="my-5 font-medium text-xl">Registered Institutions</h1>
<div class="overflow-auto">
    <table class="min-w-full border-collapse border border-gray-200">
        <thead>
            <tr class="text-left">
                <th class="px-6 py-3 border-b border-gray-200 text-sm font-medium text-gray-900">ID</th>
                <th class="px-6 py-3 border-b border-gray-200 text-sm font-medium text-gray-900 uppercase">Company Name</th>
                <th class="px-6 py-3 border-b border-gray-200 text-sm font-medium text-gray-900 uppercase">CTSDA Code</th>
                <th class="px-6 py-3 border-b border-gray-200 text-sm font-medium text-gray-900 uppercase">Country</th>
                <th class="px-6 py-3 border-b border-gray-200 text-sm font-medium text-gray-900 uppercase">Legal Status</th>
                <th class="px-6 py-3 border-b border-gray-200 text-sm font-medium text-gray-900 uppercase">Status</th>
                <th class="px-6 py-3 border-b border-gray-200 text-sm font-medium text-gray-900 uppercase">Email</th>
                <th class="px-6 py-3 border-b border-gray-200 text-sm font-medium text-gray-900 uppercase">Contact Person</th>
                <th class="px-6 py-3 border-b border-gray-200 text-sm font-medium text-gray-900 uppercase">Phone</th>
                <th class="px-6 py-3 border-b border-gray-200 text-sm font-medium text-gray-900 uppercase">Delivery Method</th>
                <th class="px-6 py-3 border-b border-gray-200 text-sm font-medium text-gray-900 uppercase">Website</th>
            </tr>                            
        </thead>
        <tbody>
            {{range .}}
            <tr class="odd:bg-gray-100 even:bg-white hover:bg-gray-200">
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">{{.Id}}</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">{{.Name}}</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">{{.Code}}</td>

                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">{{.Country}}</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">{{.LegalStatus}}</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">{{if .Validity}}Valid{{else}}Invalid{{end}}</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">{{.Email}}</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">{{.ContactPerson}}</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">{{.ContactPersonPhone}}</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">{{.DeliveryMethod}}</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">{{.Website}}</td>
            </tr>
            {{end}}

            <tr class="odd:bg-gray-100 even:bg-white hover:bg-gray-200">
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">1</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Glad Consultancy</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">CT-12038-AA</td>

                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Gabon</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Private Ltd.</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Valid</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">some@email.com</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Jimoh Ibrahim</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">098877665544</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Online</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">some.com</td>
            </tr>
            <tr class="odd:bg-gray-100 even:bg-white hover:bg-gray-200">
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">1</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Glad Consultancy</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">CT-12038-AA</td>

                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Gabon</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Private Ltd.</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Valid</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">some@email.com</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Jimoh Ibrahim</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">098877665544</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Online</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">some.com</td>
            </tr>
            <tr class="odd:bg-gray-100 even:bg-white hover:bg-gray-200">
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">1</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Glad Consultancy</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">CT-12038-AA</td>

                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Gabon</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Private Ltd.</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Valid</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">some@email.com</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Jimoh Ibrahim</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">098877665544</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Online</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">some.com</td>
            </tr>
            <tr class="odd:bg-gray-100 even:bg-white hover:bg-gray-200">
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">1</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Glad Consultancy</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">CT-12038-AA</td>

                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Gabon</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Private Ltd.</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Valid</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">some@email.com</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Jimoh Ibrahim</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">098877665544</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Online</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">some.com</td>
            </tr>
            <tr class="odd:bg-gray-100 even:bg-white hover:bg-gray-200">
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">1</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Glad Consultancy</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">CT-12038-AA</td>

                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Gabon</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Private Ltd.</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Valid</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">some@email.com</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Jimoh Ibrahim</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">098877665544</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Online</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">some.com</td>
            </tr>
            <tr class="odd:bg-gray-100 even:bg-white hover:bg-gray-200">
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">1</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Glad Consultancy</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">CT-12038-AA</td>

                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Gabon</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Private Ltd.</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Valid</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">some@email.com</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Jimoh Ibrahim</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">098877665544</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Online</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">some.com</td>
            </tr>
            <tr class="odd:bg-gray-100 even:bg-white hover:bg-gray-200">
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">1</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Glad Consultancy</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">CT-12038-AA</td>

                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Gabon</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Private Ltd.</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Valid</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">some@email.com</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Jimoh Ibrahim</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">098877665544</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Online</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">some.com</td>
            </tr>
            <tr class="odd:bg-gray-100 even:bg-white hover:bg-gray-200">
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">1</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Glad Consultancy</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">CT-12038-AA</td>

                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Gabon</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Private Ltd.</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Valid</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">some@email.com</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Jimoh Ibrahim</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">098877665544</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Online</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">some.com</td>
            </tr>
            <tr class="odd:bg-gray-100 even:bg-white hover:bg-gray-200">
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">1</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Glad Consultancy</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">CT-12038-AA</td>

                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Gabon</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Private Ltd.</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Valid</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">some@email.com</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Jimoh Ibrahim</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">098877665544</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Online</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">some.com</td>
            </tr>
            <tr class="odd:bg-gray-100 even:bg-white hover:bg-gray-200">
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">1</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Glad Consultancy</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">CT-12038-AA</td>
                

                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Gabon</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Private Ltd.</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Valid</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">some@email.com</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Jimoh Ibrahim</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">098877665544</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Online</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">some.com</td>
            </tr>
            <tr class="odd:bg-gray-100 even:bg-white hover:bg-gray-200">
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">1</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Glad Consultancy</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">CT-12038-AA</td>

                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Gabon</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Private Ltd.</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Valid</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">some@email.com</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Jimoh Ibrahim</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">098877665544</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">Online</td>
                <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">some.com</td>
            </tr>
        </tbody>
    </table>     
</div> 
{{end}}