<div class="company-info ">
    <p><strong>Company Name:</strong> <span id="companyName">{{.Name}}</span></p>
    <p><strong>Company ID:</strong> <span id="companyId">{{.Id}}</span></p>
    <p><strong>Status:</strong> <span id="companyStatus" class="status">{{if .Validity}}Valid{{else}}Invalid{{end}}</span></p>
    <p><strong>Code:</strong> <span id="companyStatus" class="status">{{.Code}}</span></p>
    <p><strong>Person of Contact:</strong> <span id="companyStatus" class="status">{{.ContactPerson}}</span></p>
    <p><strong>Phone:</strong> <span id="companyStatus" class="status">{{.ContactPersonPhone}}</span></p>


</div>

<button class="mt-5 px-4 py-2 shadow-md shadow-slate-500 rounded-lg active:translate-y-2 transition-transform border w-full" id="toggleButton" hx-put="/togglevalidity?id={{.Id}}&code={{.Code}}&validity={{.Validity}}" hx-target=".instituteContent">
    {{if .Validity }}
        Invalidate
    {{else}}
        Validate
    {{end}}
</button>
